[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-localvimrc"]
	path = .vim/bundle/vim-localvimrc
	url = git://github.com/embear/vim-localvimrc.git
[submodule ".vim/bundle/vim-protobuf"]
	path = .vim/bundle/vim-protobuf
	url = git://github.com/uarun/vim-protobuf.git
[submodule "z"]
	path = z
	url = git://github.com/rupa/z.git
[submodule ".vim/bundle/vim-slime"]
	path = .vim/bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/shougo/neocomplete.vim
[submodule "urxvt-ext/urxvt-font-size"]
	path = urxvt-ext/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale
