[user]
	name = Chris West (Faux)
	email = git@goeswhere.com
[core]
	pager = most
	logAllRefUpdates = on
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	co = checkout
	fa = fetch --all
	fe = fetch
	rc = rebase --continue
	rs = rebase --skip
	ri = rebase --interactive
	ra = rebase --abort
	sl = stash list
	st = status
	d = diff
	di = diff
	aa = add -A
	a = add
	ci = commit
	rh = reset --hard
	rp = repack -adf
	pur = pull --rebase
	cam = commit -am
	fixup = commit --amend -CHEAD
	mergeback = "!f() { git update-ref refs/heads/master -m \"Force-merging master with current branch $(git symbolic-ref HEAD)\" $(echo \"$1\" | git commit-tree \"HEAD^{tree}\" -p refs/heads/master -p HEAD); git lg master HEAD -4 | cat; }; f"
	resetother = "!f(){ git update-ref refs/heads/$1 $2; git lg -4 $1 | cat; }; f"
	po = push origin
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[rebase]
	autosquash = true
[help]
	format = web
[web]
	browser = chrome-debian
[browser "chrome-debian"]
	cmd = /opt/google/chrome/chrome

[push]
	default = tracking
